* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    box-sizing: border-box;
}

.box {
    width: 600px;
    height: 933px;
    background-color: pink;
    margin: 0 auto;
}

.box1 {
    width: 600px;
    height: 150px;
    background-color: #9d0b09;
}

.one {
    height: 100px;
    font-family: 宋体;
    font-style: italic;
    text-align: center;
    line-height: 100px;
}

.box2 {
    width: 600px;
    height: 50px;
}

ul {
    list-style: none;
}

li {
    width: 100px;
    height: 50px;
    background-color: #9d0b09;
    float: left;
    text-align: center;
    line-height: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.box2 a:hover {
    color: orange;
}

.box3 {
    width: 600px;
    height: 645px;
    background: #ffffff;
    padding: 0 auto;
    float: left;
}

.box4 {
    width: 540px;
    height: 645px;
    background-color: #ffffff;
    margin: 0 auto;
}

.two {
    text-indent: 2em;
    font-size: 12px;
    padding: 3px 0;
}